.App {
  text-align: center;
  box-sizing: border-box;
  background-color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#squares {
  display: flex;

  background-color:black;
  border: 5px solid black;
  flex-wrap: wrap;
  justify-content: center;

}
.square {
 
  display: grid;
  justify-content: center;
  align-items: center;
  
  width: calc(100%/ var(--columns));
  aspect-ratio: 1/1;
  
  color: green;
}

#endContainer {
  color: yellow;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.5);
  text-align: center;
  overflow-y: scroll;
}

#guessTrackerContainer {
 
  display: flex;
  width: 100%;
  justify-content: center;
}

.guess {
  border: 1px solid black;
  margin: 2px 2px;
  padding: 5px;
  font-size: 35px;
}

h2 {
  margin: 0px;
}
form {
  margin: 10px
}
#openGuess {
  display: flex;
  align-items: center;
  justify-content: center;
  
  height: 50px;
  width: 50px;
 
  color: black;
  background-color: white;
  font-size: 16px;
}
#submitFormContainer {
  
 width: 100%;
  

 
}

#formBackground {
  display: none;
  justify-content: center;
  align-items: center;
 position: fixed;
 height: 100%;
  width: 100%;
  left: 0;
  top:0;
  overflow: auto;
  background-color: rgba(0,0,0,.7);
  
}
@keyframes wrong {
  0% {
    display: flex;
  }
  50% {

  }
  100% {
    display: none;
  }
}
#wrongContainer {
  display: none;
  position: fixed;
  height: 100%;
   height: 100%;
   left: 0;
   top:0;
   overflow: auto;
  
  background-color: rgba(0,0,0,.5);
  align-items: center;
  justify-content: center;
  
 
}
#decoy {
  display: none;
  position: absolute;
  top: 0;
  bottom: 50%;
  left: 0;
  right: 0;
 
  align-items: center;
  justify-content: center;
  
 
}
#wrongX {
  
}

#guessTab {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(138, 137, 137, 0.7);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  
  
}
#revealTab {
  height: 30px;
  
}
#guessContainer {
  display: none;
  
  flex-wrap: 'wrap';
}
#keyboardCont {
  width: 100%;
}
button {
  border-radius: 5px;
  -webkit-appearance: none;
}
.keyboardButton {
 display: grid;
 justify-content: center;
 align-items: center;
  width: 8vw;
  height: 12vw;
 border-radius: 5px;
  margin: .5vw;
  text-align: center;
  font-size: 16px;
}
.keyboardButton::after {
  display: grid;
 justify-content: center;
 align-items: center;
  width: 8vw;
  height: 12vw;
 border-radius: 5px;
  margin: .5vw;
  text-align: center;
  font-size: 16px;
}
.keyboardButton:active {
  display: grid;
  align-items: center;
 justify-content: center;
  background-color: black;
  color: white;
  width: 8vw;
  height: 12vw;
 border-radius: 5px;
  margin: .5vw;
  text-align: center;
  font-size: 16px;
}
#firstRow {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 5px 0px;
}
#secondRow {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 5px 0px;
}
#thirdRow {
  display: flex;
  width: 100%;
  justify-content: center;
}

#DEL, #ENT {
  width: 12vw;
}

#focus {
  display: none;
}